  <h1>Abuelita Sordita</h1>
  <% if @abuelita %>
    <p>Tu Abuelita dice: "
      <span id="grandma_says">
        <%= @abuelita %>
      </span>"
    </p>

  <% end %>

  <form id="boton" action="/abuelita" method="post">
    Dile algo a tu abuelita:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Dilo!">
    <p><tt id="response"></tt></p>
  </form>